.inputsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  justify-content: center;
  margin: 50px auto;
}
.inputsContainer label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.image_picker {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 500px;
  flex-wrap: wrap;
}
.image_picker > .responsive {
  margin: 10px !important;
}
